<div class="divisor"></div>
 <img class="img-global" src="/image/MyTo-do.svg" alt="">
<div class="card-dash">
    <div class="card">
        <a href="/tasks/all">
        <ion-icon name="list-outline"></ion-icon>
        <p>Tarefas</p>
        </a>
    </div>
    <div class="card">
        <a href="/tasks/add">
            <ion-icon name="add-outline"></ion-icon>
            <p>Nova Tarefa</p>
        </a>
    </div>
    <div class="card">
        <a href="/tasks">
        <ion-icon name="arrow-back-outline"></ion-icon>
            <p>Sair</p>
        </a>
    </div>
</div>