<div class="divisor"></div>
 <img class="img-global" src="/image/MyTo-do.svg" alt="">
<div class="container-create">
    <h1>Editar Tarefa {{task.title}}</h1>
    <form action="/tasks/edit" method="post">
    <input type="hidden" name="id" value="{{task.id}}">
        <div class="form-control">
            <input type="text" name="title" placeholder="Titulo da Tarefa" value="{{task.title}}">
        </div>

        <div class="form-control">
            <textarea name="description" placeholder="Descrição da tarefa">{{task.description}}</textarea>
        </div>

        <div class="form-control">
          <input type="submit" value="Editar">
        </div>
         <a class="box-dash-back" href="/tasks/dash">
        <ion-icon name="arrow-back-outline"></ion-icon>
            <p>Voltar ao Dashboard</p>
            </a>
    </form>
</div>